// .body
@include block('body') {
  width: 100%;
  height: auto;
  background-color: #000;
  // .body--home
  @include modifier('home') {
    overflow: hidden;
    .header__start {
      display: none;
    }
    @include state('loaded') {
      overflow: visible;
      .header__start {
        display: block;
      }
    }
  }
}

@include block('main') {
  position: relative;
  width: 100%;
  min-height: 100vh;
  // background: $purple;
  z-index: 9;
  color: #FFF;
  padding: 100px 50px 0;
  margin: 0 auto;
}

@include block('container') {
  max-width: 700px;
  margin: 0 auto;
}

@include block('about-img') {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  margin:0 auto;
  position: relative;
  overflow: hidden;
  border: solid 5px #FFF;
  background: $purple;
  @include element('image') {
    display: block;
    position: absolute;
    bottom: 5px;
    left:50%;
    transform: translateX(-50%);
    border-radius: 100%;
    overflow: hidden;
    z-index: 2;
    width: 110%;
    height: auto;
  }
}

@include block('section') {
  margin: 50px 0px;
  @media screen and (min-width: 768px) {
    margin: 100px 0;
  }
  @media screen and (min-width: 1024px) {
    margin: 150px 0;
  }
}