@keyframes stickynav {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include block('header') {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100vh;

  @include element('nav') {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    @include state('sticky') {
      position: fixed;
      height: 75px;
      transform: translateY(-100%);
      animation: stickynav 0.75s ease-in-out 0.25s 1 normal forwards;
      .logo {
        position: static;
        height: 50px;
        width: auto;
        transform: none;
      }
    }
  }

}

$logo-count: 10;
$logo-time: 0.1s;
@include block('logo') {
  left:50%;
  max-width: 100%;
  position: absolute;
  top:50%;
  transform: translate(-50%, -50%);
  width: 60%;
  @include element('img') {
    height: auto;
    left:0;
    position: relative;
    transition: opacity $logo-time ease ($logo-count * $logo-time); 
    width: 100%;
    z-index: $logo-count;
    @for $i from 1 to $logo-count+1 {
      @include modifier($i) {
        position: absolute;
        top: ($i * 10px);
        transform-origin: 50% 75%;
        transform: scale(0.5 / $i);
        transition-delay: ($logo-count - $i) * $logo-time;
        z-index: $logo-count - $i;
      }
    }
  }
  @include state('hidden') {
    .logo__img {
      opacity: 0;
    }
  }
}