@include block('header') {
  position: relative;
  z-index: 999;

  @include state('splash') {
    width: 100%;
    height: 100vh;
    .logo {
      left:50%;
      position: absolute;
      top:50%;
      transform: translate(-50%, -50%) translateZ(0);
      width: 60%;
    }
  }
}

$logo-count: 10;
$logo-time: 0.1s;
@include block('logo') {
  max-width: 100%;
  position: relative;
  @include element('img') {
    height: auto;
    left:0;
    position: relative;
    transition: opacity $logo-time ease ($logo-count * $logo-time); 
    width: 100%;
    z-index: $logo-count;
    @for $i from 1 to $logo-count+1 {
      @include modifier($i) {
        position: absolute;
        top: ($i * 10px);
        transform-origin: 50% 75%;
        transform: scale(0.5 / $i);
        transition-delay: ($logo-count - $i) * $logo-time;
        z-index: $logo-count - $i;
      }
    }
  }
  @include state('hidden') {
    .logo__img {
      opacity: 0;
    }
  }
}